node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.local
.env.*.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Shared mode files (committed)
!.env.development
!.env.production
!.env.example
