# OS
.DS_Store

# Secrets
.env
**/.env

# Python
.venv/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.pyc
*.db

# Frontend
node_modules/
dist/
dist-ssr/
*.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
